
SAP_CLIENT=400
SAP_BASE_URL="SAP_BASE_URL"
SAP_USER="USER"
SAP_PASSWORD="PASSWORD"
SAP_VERIFY_SSL=false
SAP_TIMEOUT=30
SAP_RFC_ASHOST=HOST
SAP_RFC_SYSNR=00
SAP_RFC_CLIENT=400
SAP_RFC_USER=USER
SAP_RFC_PASSWD=PASSWORD
SAP_RFC_LANG=EN
